body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2788d1;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(52, 96, 177);
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #167ce2;
}

.message {
    margin-top: 20px;
    font-size: 1.2em;
}
